@model GuestResponse

<div class="text-center mt-3">
    <h1>Thanks you, @Model.Name</h1>
    
    @if (Model.WillAttend == true)
    {
        <div>
            Great.
        </div>
    }
    else
    {
        <div>
            Sorry.
        </div>
    }
    
    Click <a asp-action="ListResponses">here</a> to see who is coming.
</div>